---
import AuthChangePassword from "@/components/islands/AuthChangePassword";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Change Password">
  <section class="mx-auto max-w-2xl p-6">
    <AuthChangePassword client:load />
  </section>
</Layout>
